@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body{
    background-color: var(--color-base2);
    color: var(--color-base);
    font-family: var(--font-base);


}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    transition:all 0.5s ease-in;
}

.navbar .nav-link:hover{
    color: var(--color-brand);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-heading);
    color: aliceblue;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.5s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

h3 {
    color: white;
}


@media (min-width:992px) {
    .navbar {
        min-height: 100vh;
        width: 240px;
        background: linear-gradient(rgba(3, 63, 71, 0.623), rgba(3, 63, 71, 0.853)), url(./sidebar-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar img{
        border: 8px solid var(--color-brand);
    }
}